body{
    margin: 0 80px;
    margin-top: 30px;
}
img{
    width: 55px;
    height: 55px;
}
.separate-section{
    display: flex;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.header div{
    font-size: 20px;
    font-weight: 600;

}
.left-section{
    width: 35%;

}
.analyze{
    margin-bottom: 40px;
}

.analyze span{
    margin: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 4px solid black;
    font-weight: 600;
}

.input-area input, .input-area button{
    margin-top: 15px;  
    padding: 0.8rem;  
    border: none;
    outline: none;
}
.input-area input{
    background-color: aqua;
    padding-right: 90px;
    border-radius: 15px;
}
input[type="submit"]{
    cursor: pointer;
}
#submit{
    background-color: rgb(132, 132, 228);
    padding: 10px 30px;
}
.right-section{
    width: 60%;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
}
.right-history img{
    margin-left: 30px;
}
.usage-header{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.history-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.left-history div{
    margin: 0.6rem;
}





















@media screen and (max-width: 1053px){
    .input-area input, .input-area button{
        margin-top: 15px;  
        padding: 0.3rem;  
        border: none;
        outline: none;
    }
    .analyze span{
        margin: 0.7rem;
        padding: 0.2rem;
        cursor: pointer;
        border-bottom: 4px solid black;
        font-weight: 600;
    }
}

@media screen and (max-width: 768px) {
    body{
        position: relative;
    }
	.separate-section{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        display: block;
    }
    .right-section{
        width: 400px;
        margin-top: 50px;
    }
    .left-section{
        width: 400px;
        padding-left: 80px;
    }
    .input-area input{
        margin-top: 15px;  
        padding: 0.7rem;  
        border: none;
        outline: none;
    }
    .input-area input{
        padding-right: 80px;
    }
}